button{
  color: #ACFFC3;
  background: #2a2b29;
  padding: 25px;
  border-radius: 25px;
  font-family: 'Ropa Sans', sans-serif;
  margin-right: 25px;
}

button:hover{
  font-weight: 800;
}

.inv_bt{
  color: #2a2b29;
  background: #ACFFC3;
  padding: 25px;
  border-radius: 25px;
  font-family: 'Ropa Sans', sans-serif;
  margin-right: 25px;
}

.pot_bt{
  color: #ACFFC3;
}

.inventory {
  padding: 2%;
  overflow: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-container {
  display: inline-block;
  align-items: center;
  margin-left: 10px;
}

/*fdfdfdfdfdfdf*/

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 20px;
  margin-right: 20px;
}

.item-card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 8px #fff;
}

.item-card img.image-hovered {
  opacity: 0.4;
  transition: opacity 0.3s;
  /* transition: opacity 0.3s ease-in-out; */
}

.item-quantity {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 11px;
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 32px;
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Add a transition effect */
}

.edit-icon:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Increase the size on hover */
  opacity: 1;
}

/*fmdifndfoindfodsfdsv*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  }

  .modal-content {
    background: radial-gradient(#18241b, #66B67C);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  }

  .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  }

  hr{
    margin-bottom: 20px;
  }

  .modal-header h2{
    font-family: 'Ropa Sans';
    font-size: 25px;
    font-style: italic;
    letter-spacing: 2px;
  }

  .modal-header h2:hover{
    cursor: default;
  }

  .modal-header .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease-in-out;
  }

  .modal-close:hover {
    transform: scale(1.2);
  }

  .modal-body {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  }

  .modal-body label {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  }

  .modal-body input {
    width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 20px;
    height: 40px;
  }

  #location {
    height: 45px;
    font-size: 15px;
    padding: 5px;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: 'Roboto';
  }

  #security-question{
    height: 45px;
    font-size: 15px;
    font-family: 'Roboto';
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* add this line */
  }

  .modal-footer button {
  background-color: #232421;
  color: #91B99B;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 300px;
  text-transform: capitalize;
  align-items: center;
  }

  .modal-footer button:hover{
    color: #91B99B;
    font-size: 13px;
  }

  .form-group label{
    font-size: 13px;
  }

  .red-text{
    color: red;
  }

