<div class="inventory">
  <div class="header">
    <button mat-raised-button class="inv_bt">Ingredients</button>
    <button mat-raised-button class="pot_bt" routerLink="/potion">Potions</button>
    <div class="search-container">
      <mat-form-field appearance="outline" color="accent">
        <input matInput placeholder="Search" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="card-container" [@scaleUpAndFadeIn]="true">
    <mat-card *ngFor="let ingredient of ingredients | filter: searchText" class="item-card"
      (mouseover)="ingredient.cardHovered = true"
      (mouseleave)="ingredient.cardHovered = false" (click)="selectedIngredient = ingredient">
      <img mat-card-image [ngClass]="{'image-hovered': ingredient.cardHovered}" src="{{ingredient.image}}">
      <div class="item-quantity" [ngClass]="{'red-text': ingredient.quantity === 0}">x{{ingredient.quantity}}</div>
      <div class="edit-icon" *ngIf="ingredient.cardHovered" (click)="editItem(selectedIngredient)"><mat-icon>edit</mat-icon></div>
    </mat-card>
  </div>


  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{ selectedIngredient.name }}</h1>
        <span class="modal-close" (click)="closeModal()">&times;</span>
      </div>
      <hr>
      <div class="modal-body">
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control" id="quantity" [(ngModel)]="selectedQuantity">
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <select class="form-control" id="location" [(ngModel)]="selectedLocation">
            <option *ngFor="let option of locationOptions" [value]="option">{{option}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="security-question">Security Question: </label>
          <input type="text" id="security-question" name="security-question" placeholder="A dragon of old, feared and reviled">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" mat-button (click)="updateDetails()">UPDATE DETAILS</button>
      </div>
    </div>
  </div>

  <div class="modalSuccess" *ngIf="showSuccessModal">
    <div class="modal-content-success">
      <p>Potion info updated!</p>
      <div class="button-container">
        <button mat-raised-button color="secondary" (click)="closeSuccessModal()">Ok</button>
      </div>
    </div>
  </div>

</div>
