<div class="find">
  <div class="header">
    <button mat-raised-button class="str_bt" routerLink="/locations">Storage Locations</button>
    <button mat-raised-button class="fnd_bt" routerLink="/find">Find Ingredients</button>
  </div>
  <br>
  <br>
  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="2">
      <div style="display: flex; flex-direction: column;">
        <h2 style="font-family: Roboto; font-size: 50px; font-weight: 700;">Chillwind Depths</h2>
        <br>
        <p style="font-family: Roboto; font-style: italic; line-height: 32px;">There's a crazy abundance of various mushrooms here. White Cap, Fly Amanita, Bleeding Crown, Blisterwort, Namira's Rot, Imp Stool, and Glowing Mushroom can be all found here. There are also Chaurus Eggs and Spider Eggs to be discovered.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <img src="../../../assets/locations/Chillwind.png">
    </mat-grid-tile>
  </mat-grid-list>

  <br>
  <br>

  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="2">
      <div style="display: flex; flex-direction: column;">
        <h2 style="font-family: Roboto; font-size: 50px; font-weight: 700;">Blackreach</h2>
        <br>
        <p style="font-family: Roboto; font-style: italic; line-height: 32px;">The best place to find alchemy ingredients has to be Blackreach. This place is not only massive in size but has a huge abundance of rare and elusive ingredients that are otherwise quite difficult to come across. The trip here is not safe nor easy, but it's highly rewarding. Players with the Dawnguard DLC will find even more value in this location due to the Chaurus Hunter spawning here.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <img src="../../../assets/locations/Blackreach.webp">
    </mat-grid-tile>
  </mat-grid-list>

  <br>
  <br>

  <mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="2">
      <div style="display: flex; flex-direction: column;">
        <h2 style="font-family: Roboto; font-size: 50px; font-weight: 700;">Arch Mage's Quarters</h2>
        <br>
        <p style="font-family: Roboto; font-style: italic; line-height: 32px;">The sleepy yet charming town that lies nestled amidst the snowy peaks of northern Skyrim. From the imposing Dark Brotherhood Sanctuary to the mysterious Pale Lady's cave, there are countless secrets and treasures to uncover in and around this idyllic hamlet.</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <img src="../../../assets/locations/Arch_Mage_Quarters.jpg">
    </mat-grid-tile>
  </mat-grid-list>

</div>




