<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span *ngIf="!sidenav.opened" style="font-family: 'MedievalSharp', cursive; font-style: italic;">Alchemist's Arsenal</span>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="logo mat-elevation-z8" src="https://i.ibb.co/rcb6m6P/main-logo.png" width="100px">

    <h4 class="name">Alchemist's Arsenal</h4>
    <p class="designation">Inventory Management</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/inventory">
      <mat-icon>view_week</mat-icon>
      <span>Inventory</span>
    </button>
    <button mat-button class="menu-button" routerLink="/crafting">
      <mat-icon>build</mat-icon>
      <span>Crafting</span>
    </button>
    <button mat-button class="menu-button locations" routerLink="/locations">
      <mat-icon>location_on</mat-icon>
      <span>Locations</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <span>Help</span>
      <mat-icon>help</mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

