/*global styles*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.home{
  height: 100%;
  background-image: url('assets/home_bg_i.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.crafting{
  height: 100%;
  background-image: url('assets/crafting_bg_2.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.inventory{
  height: 100%;
  background-image: url('assets/inv_bg.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.locations{
  height: 100%;
  background-image: url('assets/locations_bg_two.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.help{
  height: 100%;
  background-image: url('assets/help_bg.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.find{
  height: 100%;
  background-image: url('assets/locations/Find.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}





